.archive_shuffle_bt {
  position: relative;
  float: left;
  display: flex;
  justify-content: center;
  background-color: orange;
}

.book_shuffle_bt {
position: relative;
float: right;
display: flex;
justify-content: center;
background-color: purple;
}

.quick_study_bt {
  position: relative;
  float: left;
  display: flex;
  justify-content: center;
  background-color: yellow;
}

.steady_run_bt {
  position: relative;
  float: right;
  display: flex;
  justify-content: center;
  background-color: blue;
}

.attic_bt {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: teal;
}

.settings_bt {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: pink;
}

.wrapper_bt {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: red;
}

.column_1 {
  display: flex;
}

.column_2 {
  display: flex;
}
