.archive_shuffle_bt {
  position: relative;
  width: 50%;
  float: left;
  display: flex;
  justify-content: center;
}

.book_shuffle_bt {
position: relative;
width: 50%;
float: right;
display: flex;
justify-content: center;
}

.quick_study_bt {
  position: relative;
  width: 50%;
  float: left;
  display: flex;
  justify-content: center;
}

.steady_run_bt {
  position: relative;
  width: 50%;
  float: right;
  display: flex;
  justify-content: center;
}

.attic_bt {
  position: relative;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.settings_bt {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 8%;
}

.wrapper_bt {
  width: 100%;
}
