.attic_bt {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: teal;
  padding: 5%;
}

.archive_shuffle_bt {
  position: relative;
  float: left;
  display: flex;
  justify-content: center;
  background-color: orange;
  padding: 10%;
}

.book_shuffle_bt {
position: relative;
float: right;
display: flex;
justify-content: center;
background-color: purple;
padding: 10%;
}

.quick_study_bt {
  position: relative;
  float: left;
  display: flex;
  justify-content: center;
  background-color: yellow;
  padding: 10%;
}

.steady_run_bt {
  position: relative;
  float: right;
  display: flex;
  justify-content: center;
  background-color: blue;
  padding: 10%;
}


.settings_bt {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: pink;
  padding: 5%;
}

.wrapper_bt {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: red;
}

.column_1 {
  display: flex;
}

.column_2 {
  display: flex;
}

.whole_starting_page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
