.archive_shuffle_bt {
  position: relative;
  width: 50%;
  float: left;
  display: flex;
  justify-content: center;
  background-color: orange;
}

.book_shuffle_bt {
position: relative;
width: 50%;
float: right;
display: flex;
justify-content: center;
background-color: purple;
}

.quick_study_bt {
  position: relative;
  width: 50%;
  float: left;
  display: flex;
  justify-content: center;
  background-color: yellow;
}

.steady_run_bt {
  position: relative;
  width: 50%;
  float: right;
  display: flex;
  justify-content: center;
  background-color: blue;
}

.attic_bt {
  position: relative;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: teal;
}

.settings_bt {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 8%;
  background-color: pink;
}

.wrapper_bt {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: red;
}
